  <title><%= @news_bite.top_text %> - News Yeti</title>
  <meta name="description" content="News Yeti is a site that lets you quickly and easily create news bites, short and to the point mini stories that you can share with people across the internet.">
  <meta property="og:title" content="<%= @news_bite.top_text %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= nb_url(@news_bite) %>" />
  <meta property="og:image" content="<%= image_url('news-yeti.png') %>" />
  <meta property="og:description" content="News Yeti is a site that lets you quickly and easily create news bites, short and to the point mini stories that you can share with people across the internet." />
  <meta property="og:site_name" content="News Yeti" />