<html>
<head>
  <meta http-equiv='content-type' content='text/html;charset=utf-8'>
  <style>
    body {
      margin: 0;
      width: 1200px !important;
      background-image: url('<%="#{Rails.root}/app/assets/images/news-yeti-small.png" %>');
      background-repeat: no-repeat;
      background-position: 1000px 125px;
    }
    h1 {
      font-size: 75px;
      line-height: 86px;
      margin-left: 10px;
      width: 1000px;
      max-height: 627px;
      display: -webkit-box;
      position: relative;
      top: -50px;
      direction: ltr;
    }
  </style>
</head>
<body>
  <h1 id="title"><span><%=@news_bite.top_text%></span></h1>
  <script type="text/javascript">
    var titleElement = document.getElementById('title');
    if (/[א-ת]/.test(titleElement.innerHTML)) {
      titleElement.style.direction = 'rtl';
    }
  </script>

</body>
</html>