<html>
<head>
  <meta property="og:title" content="<%= @news_bite.top_text %> - News Yeti" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= news_bite_url(@news_bite) %>" />
  <meta property="og:image" content="<%= image_url('news-yeti.png') %>" />
</head>
<body>
    News Bite for Facebook
</body>
</html>