<html>
<head>
  <meta http-equiv='content-type' content='text/html;charset=utf-8'>
  <style>
    body {
      margin: 0;
      width: 1200px !important;
      background-image: url('<%="#{Rails.root}/app/assets/images/news-yeti.png" %>');
      background-repeat: no-repeat;
      background-position: 860px 250px;
    }
    h1 {
      font-size: 150px;
      line-height: 173px;
      margin-left: 20px;
      width: 840px;
      max-height: 630px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      position: relative;
      top: -100px;
      direction: ltr;
    }
    div#white-cover {
      position: absolute;
      top: 520px;
      width: 860px;
      height: 400px;
      background-color: #fff;
    }
  </style>
</head>
<body>
  <h1 id="title"><span><%=@news_bite.top_text%></span></h1>
  <div id="white-cover">&nbsp;</div>
  <script type="text/javascript">
    var titleElement = document.getElementById('title');
    if (/[א-ת]/.test(titleElement.innerHTML)) {
      titleElement.style.direction = 'rtl';
    }
  </script>

</body>
</html>