<div class='site-editor'>
    <h1>ערוך אתר</h1>
    <form>
    <div class='form-group'>
        <label for='topText'>טקסט עליון:</label>
        {{input value=topText}}
    </div>
    <div class='form-group'>
        <label for='centerText'>טקסט מרכז:</label>
        {{input value=centerText}}
    </div>

    <div class='form-group'>
        <label for='centerText'>צבע טקסט מרכז:</label>
        {{view Ember.Select viewName="select"
                        contentBinding="people"
                        optionLabelPath="model.fullName"
                        optionValuePath="model.id"
                        prompt="בחר צבע:"
                        selectionBinding="selectedPerson"}}
    </div>

    </form>
</div>
{{ render 'site' model }}
