<div class='site'>
    <div class='top'>{{t 'about.title'}}</div>
    <div class='middle'>{{t 'about.centerText'}}</div>
</div>

<div class='container'>
    <p>
        {{t 'about.text1'}}
    </p>
    <p>
        {{t 'about.text2'}}
    </p>
    <div class='row'>
        <div class='col-xs-4'>
            <img src='https://pbs.twimg.com/profile_images/378800000622913967/8fdf726be02d0e8204cd13fdcf3a3868_bigger.jpeg'/>
            <a href='http://twitter.com/yonbergman'>@yonbergman</a>
        </div>
        <div class='col-xs-4'>
            <img src='https://pbs.twimg.com/profile_images/378800000562497528/1ba92ded8a5b0a3172f05d6f01cc105d_bigger.jpeg'/>
            <a href='http://twitter.com/gardenofwine'>@gardenofwine</a>
        </div>
        <div class='col-xs-4'>
            <img src='https://pbs.twimg.com/profile_images/378800000509691886/3ed28889a5415639ba9f8355e2002d41_bigger.jpeg'/>
            <a href='https://twitter.com/giladgo'>@giladgo</a>
        </div>
    </div>

</div>
