<div class='site'>
    <div class='top'>Most awesome site ever?</div>
    <div class='middle'>Maybe.</div>
</div>

<div class='container'>
    <p>
        Thanks for visiting news yeti, the site that lets you quickly and easily create news bites.
        News bites are mini sites that let you share and update people across the internet about a very specific news story.
        <br/>
        Everything from the birth of a prince, to the point in time in which a certain bill was signed by the president.
    </p>
    <p>
        This site was built as part of the <a href='http://not-ninjas.com'>eBay Israel Innovation Center</a>'s weekly
        side projects by -
    </p>
    <div class='row'>
        <div class='col-xs-6'>
            <img src='https://pbs.twimg.com/profile_images/378800000562497528/1ba92ded8a5b0a3172f05d6f01cc105d_bigger.jpeg'/>
            <a href='http://twitter.com/gardenofwine'>@gardenofwine</a>
        </div>
        <div class='col-xs-6'>
            <img src='https://pbs.twimg.com/profile_images/378800000622913967/8fdf726be02d0e8204cd13fdcf3a3868_bigger.jpeg'/>
            <a href='http://twitter.com/yonbergman'>@yonbergman</a>
        </div>
    </div>

</div>
