<div>
    {{outlet}}
</div>

<footer>
    <span>&copy;2014 BW & YB</span>
    <nav>
        {{#link-to 'index'}}Home{{/link-to}}
        |
        {{#link-to 'about'}}About{{/link-to}}
    </nav>
</footer>