<div>
    {{outlet}}
</div>

<footer>
    <div class='yeti'></div>
    <span class='created-by'>
        <a href='https://twitter.com/gardenofwine' target='_blank'>@gardenofwine</a>
        &
        <a href='https://twitter.com/yonbergman' target='_blank'>@yonbergman</a>
        &copy;2014
    </span>
    <nav>
        {{#link-to 'index'}}Home{{/link-to}}
        |
        {{#link-to 'about'}}About{{/link-to}}
        |
        <a href ='/random'>Random News Bite</a>
    </nav>
</footer>