<div class='site'>
    <div class='top' dir='auto'>{{ topText }}</div>
    <div class='middle' dir='auto'>{{ centerText }}</div>
</div>
<div class='extra_site_controls'>
    {{#link-to 'edit_bite' model class='btn btn-lg btn-default'}}
        <i class='icon-edit'></i>
        Edit
    {{/link-to}}
</div>
