<div class='site'>
    <div class='top' dir='auto'>{{ topText }}</div>
    <div class='middle' dir='auto'>{{ centerText }}</div>
  {{#if edit_url}}
    <div class='text-info top'>
        In order to edit this news bite, save the following url: <u>{{ edit_url }}</u>
    </div>
  {{/if}}
</div>
