{{ render 'editable_bite' model }}
<div class='extra_site_controls'>

    <button class='btn btn-lg btn-primary' {{action "submitAction" model}}>
        <i class='icon-save'></i>
        UPDATE
    </button>
    <p class='white text-center'><small>Click on a label to edit it.</small></p>
</div>
