<div class='site'>
    {{view Ember.ContenteditableView plaintext=true class='top' valueBinding="topText"}}
    {{view Ember.ContenteditableView plaintext=true class='middle' valueBinding="centerText"}}
</div>