<div class='site'>
    {{view Ember.ContenteditableView class='top' editableBinding='isNew' valueBinding="topText"}}
    {{view Ember.ContenteditableView class='middle' autofocus=true valueBinding="centerText"}}
</div>