{{ render 'editable_bite' model }}
<div class='extra_site_controls'>
    <p class='lead'>
        Just write something, save and share your news updates with the world!
        <br/>
        <button class="btn btn-xs btn-default" {{action "randomize" model}}>
            <i class="icon-random"></i>
            Show me another example
        </button>
    </p>
    <button {{ bind-attr class='::disabled :btn-save'}} {{action "submitAction" model}}>
        <i class='icon-save'></i>
        SAVE
    </button>
</div>
