<div class='site ltr'>
    <div class='top'>Have you used News Yeti yet?</div>
    <div class='middle' contenteditable>NO.</div>
</div>
<div class='bottom text-center'>
    {{#link-to 'new_bite' class='btn btn-hg btn-primary'}}
        <i class='icon-plus'></i>
        CREATE A NEWS BITE
    {{/link-to}}
    <img class='yeti' src='/assets/news-yeti.png'/>
</div>
