<div id="editLinkAlert" class="alert alert-danger alert-dismissable">
    <button {{action "hide" target=view}} type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span class="stress">{{t 'editLink.important'}}</span>
    {{t 'editLink.explanation'}}
</div>
