@import 'twitter/bootstrap';
@import 'font-awesome';

$grey: #c6e5f9;
$white: white;

html{
  margin: 0;
}

body{
  font-family: Helvetica, Arial, san-serif;
  padding: 0;
  margin: 0;
  background: $grey;
}

.site{
  direction: ltr;
  text-align: center;
  padding-top: 50px;
  background: $white;
  &.rtl{
    direction: rtl;
  }
  .top{
    font-size: 32px;
  }
  .middle{
    font-size: 200px;
    font-weight: bold;
  }

  .top, .middle{
    text-align: center;
    padding: 0;
    border: 0;
    background: rgba(0, 0, 0, 0);
    width: 100%;
  }
}

.site-editor{
  direction: rtl;
  padding: 10px;
  background-color: #9589A5;
  border-bottom: solid 2px rgba(#000, 0.25);
}

footer{
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px 0;
  font-size: 11px;
}

.btn-hg{
  @extend .btn-lg;
  font-size: 32px;
}

.bottom{
  margin-top: 20px;
  padding: 30px;
  .yeti{
    width: 100px;
    vertical-align: bottom;
    margin-left: 20px;
    margin-right: -120px;
  }
}

.extra_site_controls{
  background: $white;
  text-align: center;
  padding: 20px;
}

.white{
  background: $white;
  margin: 0;
}