@import 'twitter/bootstrap';
@import 'font-awesome';
@import 'compass';
//@import "compass/reset";

$grey: #c6e5f9;
$white: white;

@mixin mobile{
  @media screen and (max-width: 600px){
    @content;
  }
}

body{
  font-family: Helvetica, Arial, san-serif;
  background: white;
}


#editLinkAlert {
  text-align: center;
}

.site{
  text-align: center;
  padding: 80px 10px;
  background: $white;
  .top{
    font-size: 32px;
    @include mobile{
      font-size: 24px;
    }
  }
  .middle{
    font-size: 200px;
    font-weight: bold;
    @include mobile{
      font-size: 100px;
    }
  }

  .top, .middle{
    text-align: center;
    padding: 0;
    border: 0;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    &:focus{
      border: none;
      outline: none;
    }
  }
}

footer{
  background: $grey;
  height: 50px;
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  position: relative;
  margin-top: 150px;
  box-shadow: 0 500px 0 500px #C6E5F9;
  .yeti-container{
    overflow: hidden;
    position: absolute;
    right: 0px;
    @include single-transition(right, 500ms);
    width: 150px;
    height: 146px;
    vertical-align: bottom;
    bottom: 20px;
  }
  .yeti{
    position: absolute;
    width: 100px;
    height: 146px;
    background-size: 100px 146px;
    @media screen and (min-width: 480px){
      right: 40px;
    }
    right: -50px;
    @include background-image(
      image-url('news-yeti.png')
    );
  }
}

.bottom{
  margin-top: 20px;
  padding: 30px;
  .yeti{
    width: 100px;
    vertical-align: bottom;
    margin-left: 20px;
    margin-right: -120px;
  }
}

.extra_site_controls{
  background: $white;
  text-align: center;
  padding: 20px;
}

.white{
  background: $white;
  margin: 0;
}

.created-by{
  a{
    color: black;
  }
}
.btn-edit{
  margin-bottom: 10px;
}
.btn-save{
  @extend .btn;
  @extend .btn-hg;
  @extend .btn-primary;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 32px;
}

.prefooter{
  text-align: center;
  padding: 20px;
  display: block;
  background: #DFDFDF;
  border-radius: 10px;
  width: 270px;
  position: absolute;
  z-index: 1000;
  @media screen and (min-width: 480px){
    right: 150px;
  }
  right: 65px;
  &:after{
    content: "";
    position: absolute;
    left: 93%;
    top: 82px;
    width: 0;
    height: 0;
    border-top: 13px solid rgba(0, 0, 0, 0);
    border-left: 65px solid #DFDFDF;
    border-bottom: 0px solid rgba(0, 0, 0, 0);
  }
}